<nav class="tabs" data-group="primary">
  <a class="item" data-tab="main" title="{{localize 'RMRPG.Actor.Tabs.Main'}}"><i class="fas fa-home"></i></a>
  {{#if isPlayer}}
  <a class="item" data-tab="actions" title="{{localize 'RMRPG.Actor.Tabs.Actions'}}"><i class="fas fa-fist-raised"></i></a>
  <a class="item" data-tab="inventory" title="{{localize 'RMRPG.Actor.Tabs.Inventory'}}"><i class="fas fa-shopping-bag"></i></a>
  <a class="item" data-tab="abilities" title="{{localize 'RMRPG.Actor.Tabs.Abilities'}}"><i class="fas fa-star"></i></a>
  <a class="item" data-tab="personal" title="{{localize 'RMRPG.Actor.Tabs.Personal'}}"><i class="fas fa-id-card"></i></a>
  <a class="item" data-tab="advancements" title="{{localize 'RMRPG.Actor.Tabs.Advancements'}}"><i class="fas fa-medal"></i></a>
  <a class="item" data-tab="effects" title="{{localize 'RMRPG.Actor.Tabs.Effects'}}"><i class="fas fa-skull"></i></a>
  {{/if}}
</nav>
