<div class="tab" data-group="primary" data-tab="personal">
  <div class="personal-info">
    <section class="personal-section">
      <h3>{{localize "RMRPG.Actor.Personal.Appearance.Title"}}</h3>
      <textarea name="system.player.personal.appearance.description">{{system.player.personal.appearance.description}}</textarea>
    </section>

    <section class="personal-grid personal-grid-4">
      <div class="personal-field">
        <label>{{localize "RMRPG.Actor.Personal.Appearance.Pronouns"}}</label>
        <input type="text" name="system.player.personal.appearance.pronouns" value="{{system.player.personal.appearance.pronouns}}" />
      </div>
      <div class="personal-field">
        <label>{{localize "RMRPG.Actor.Personal.Appearance.Species"}}</label>
        <input type="text" name="system.player.personal.appearance.species" value="{{system.player.personal.appearance.species}}" />
      </div>
      <div class="personal-field">
        <label>{{localize "RMRPG.Actor.Personal.Appearance.Height"}}</label>
        <input type="text" name="system.player.personal.appearance.height" value="{{system.player.personal.appearance.height}}" />
      </div>
      <div class="personal-field">
        <label>{{localize "RMRPG.Actor.Personal.Appearance.Weight"}}</label>
        <input type="text" name="system.player.personal.appearance.weight" value="{{system.player.personal.appearance.weight}}" />
      </div>
    </section>

    <section class="personal-section">
      <h3>{{localize "RMRPG.Actor.Personal.History.Title"}}</h3>
      <textarea name="system.player.personal.history.description">{{system.player.personal.history.description}}</textarea>
    </section>

    <section class="personal-grid personal-grid-2">
      <div class="personal-field">
        <label>{{localize "RMRPG.Actor.Personal.History.Age"}}</label>
        <input type="text" name="system.player.personal.history.age" value="{{system.player.personal.history.age}}" />
      </div>
      <div class="personal-field">
        <label>{{localize "RMRPG.Actor.Personal.History.Origin"}}</label>
        <input type="text" name="system.player.personal.history.origin" value="{{system.player.personal.history.origin}}" />
      </div>
    </section>

    <section class="personal-section">
      <h3>{{localize "RMRPG.Actor.Personal.Personality.Title"}}</h3>
    </section>

    <section class="personal-grid personal-grid-2">
      <div class="personal-field">
        <label>{{localize "RMRPG.Actor.Personal.Personality.Likes"}}</label>
        <input type="text" name="system.player.personal.personality.likes" value="{{system.player.personal.personality.likes}}" />
      </div>
      <div class="personal-field">
        <label>{{localize "RMRPG.Actor.Personal.Personality.Dislikes"}}</label>
        <input type="text" name="system.player.personal.personality.dislikes" value="{{system.player.personal.personality.dislikes}}" />
      </div>
    </section>

    <section class="personal-grid personal-grid-1">
      <div class="personal-field">
        <label>{{localize "RMRPG.Actor.Personal.Personality.Catchphrase"}}</label>
        <input type="text" name="system.player.personal.personality.catchphrase" value="{{system.player.personal.personality.catchphrase}}" />
      </div>
    </section>

    <section class="personal-section">
      <h3>{{localize "RMRPG.Actor.Personal.Notes.Title"}}</h3>
    </section>

    <section class="personal-section">
      <h4>{{localize "RMRPG.Actor.Personal.Notes.Campaign"}}</h4>
      <textarea name="system.player.personal.notes.campaign">{{system.player.personal.notes.campaign}}</textarea>
    </section>

    <section class="personal-section">
      <h4>{{localize "RMRPG.Actor.Personal.Notes.Allies"}}</h4>
      <textarea name="system.player.personal.notes.allies">{{system.player.personal.notes.allies}}</textarea>
    </section>

    <section class="personal-section">
      <h4>{{localize "RMRPG.Actor.Personal.Notes.Enemies"}}</h4>
      <textarea name="system.player.personal.notes.enemies">{{system.player.personal.notes.enemies}}</textarea>
    </section>

    <section class="personal-section">
      <h4>{{localize "RMRPG.Actor.Personal.Notes.Places"}}</h4>
      <textarea name="system.player.personal.notes.places">{{system.player.personal.notes.places}}</textarea>
    </section>
  </div>
</div>
